---
import MainLayout from '@layouts/MainLayout.astro';
import Card from '@components/Card.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const allBlogArticles: CollectionEntry<'blog'>[] = (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const allTags = Array.from(
  new Set(allBlogArticles.flatMap(article => article.data.tags))
).sort(); // Sorting tags alphabetically

const url = new URL(Astro.request.url);
const selectedTag = url.searchParams.get('tag');
const filteredArticles = selectedTag
  ? allBlogArticles.filter(article => article.data.tags.includes(selectedTag))
  : allBlogArticles;
---

<MainLayout pageTitle="Blog Directory">
	
	<div class = "container1">

		<div class="filters">
			<span>Filter by tag:</span>
			<ul>
			  <li><a href="/posts">All</a></li>
			  {allTags.map(tag => (
				<li>
				  <a href={`/posts/tag/${tag}`}>{tag}</a>
				</li>
			  ))}
			</ul>
		  </div>
		  
		  <div class="container">
			{filteredArticles.length > 0 ? (
			  filteredArticles.map(article => (
				<Card article={article} />
			  ))
			) : (
			  <p>No articles found for the selected tag.</p>
			)}
		  </div>

	</div>

 
</MainLayout>

<style>
.filters {
  padding: 20px;
}

.filters ul {
  list-style-type: none;
  padding: 0;
}

.filters li {
  display: inline;
  margin-right: 10px;
}

.filters a {
  text-decoration: none;
  color: blue;
}

.filters a:hover {
  text-decoration: underline;
}

.container {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.container1{
	height:100%;
	width:100%;

}
</style>
