---
// Import necessary components and functions
import MainLayout from '@layouts/MainLayout.astro';
import Filter from '@components/Filter.astro';
import { getCollection } from 'astro:content';
import Card from '@components/Card.astro';

import type { CollectionEntry } from 'astro:content';

const allBlogArticles: CollectionEntry<'blog'>[] = (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const allTags = Array.from(
  new Set(allBlogArticles.flatMap(article => article.data.tags))
).sort(); // Sorting tags alphabetically

const url = new URL(Astro.request.url);
const selectedTag = url.searchParams.get('tag');
const filteredArticles = selectedTag
  ? allBlogArticles.filter(article => article.data.tags.includes(selectedTag))
  : allBlogArticles;
---

<MainLayout pageTitle="Blog Directory">
	<div class = "container">
		<Filter 
		allTags={allTags}
		selectedTag={selectedTag}
	  />
	
	  <div class = "filteredPosts">
	
		{filteredArticles.length > 0 ? (
		  filteredArticles.map(article => (
			<Card article={article} />
		  ))
		) : (
		  <p>No articles found for the selected tag.</p>
		)}
		</div>
	  </div>
	</div>

</MainLayout>

<style>

.filteredPosts{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:1em;
}
.container {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container1{
	height:100%;
	width:100%;

}
</style>