*{
    margin:0;
    padding:0;
    box-sizing:border-box;
	font-family: "IBM Plex Mono", monospace;

}

html{
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
}

body{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    width:100%;  
    background-color: #F2F3F4;
}

::selection {
    color: #F0F8FF;
    background: #0000CC;
}

iframe{
    width: 600px;
    height: 400px;;
}
  
@media (max-width: 768px) {
iframe {
    width: 100%;
    height: 200px;
}
}