*{
    margin:0;
    padding:0;
    box-sizing:border-box;
	font-family: "IBM Plex Mono", monospace;

}

body{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100svh;
    width:100%;  
    background-color: #F2F3F4;
}
