---
import '../styles/Global.css';
import Main from '../layouts/Main.astro';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sarai</title>
	</head>
	<body>
		<canvas class="webgl"></canvas>
		<script>
		import '../scripts/start.js'
		</script>
	</body>
</html>