---
import Main from '../layouts/Main.astro';
import {getCollection} from "astro:content";
const blogPosts = await getCollection("blog");
---

<Main>
	{
		blogPosts.map((post) => {
			<h2 style = "color:black;">
				<a href = {`/blog/${post.slug}`}>{post.data.title}</a>
			</h2>
		})
	}
</Main>
