---
import MainLayout from '@layouts/MainLayout.astro';
import BibleCard from '@components/BibleCard.astro';

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const allBlogArticles: CollectionEntry<'bible'>[] = (await getCollection('bible'))
  .sort((a:CollectionEntry<'bible'>, b:CollectionEntry<'bible'>) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

---

<MainLayout pageTitle = "Bible Blog Directory">

	<div class = "container">

		{allBlogArticles.map(article => (

			<BibleCard article = {article}></BibleCard>

		))}

	</div>


</MainLayout>

<style>

.container{
	height:100%;
	width:100%;
	padding:20px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	gap:1em;
}

</style>
