---
const {article} = Astro.props;
import Tag from '@components/Tag.astro';
import {formatDate} from '../utils';
import type { CollectionEntry } from 'astro:content';

interface Props{
    article:CollectionEntry<'blog'>;
}
---

<a href = {`/posts/` + article.slug} class = "card">
        <p class = "date">{formatDate(article.data.pubDate)}</p>
        <p class = "title"> {article.data.title}</p>    
</a>
<audio id="click-sound" src="https://audio.jukehost.co.uk/lEvEFHUvNTZxQ6PTEagKi9B60t48m25K"></audio>

<style>
   
    .card{
        display:flex;
        height:1rem;
        width:100%;
        justify-content:start;
        align-items:center;
        color:#778D9C;
        gap:1em;
        border: 1px solid blue;
        font-size: 1rem;
        text-decoration:none;
        padding:25px;
        font-family: "IBM Plex Mono", monospace;
    }
    .card:hover{
        background-color:blue;
        color:white;
    }
   
    @media (max-width: 768px) {
        .card{
            flex-wrap:wrap;
            height:min-content;
            padding:10px;
            font-size: 0.8rem;
        }
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const card = document.querySelector('.card');
        const clickSound = document.getElementById('click-sound');

        card.addEventListener('click', () => {
            clickSound.play();
        });
    });
</script>
