---
---
<div class="divider">
    <p>010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101</p>
</div>
  
  <style>
    
    p {
      color: blue;
      font-size: 0.6em;
      margin: 0;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
    }
  </style>
  