---
const {tags} = Astro.props;

 
interface Props{
    tags:String[];
}
---

<div class = "tags">
    {tags.map(tag => (
        <a href = {'/posts/tag/' + tag}class = "tag">{tag} </a>
    ))}
</div>
  

<style>
  
    .tags{
        display: flex;
        gap:0.5em;
    }
    
    .tag{
        text-decoration:none;
        background-color: blue;
        color:white;
        font-weight:bold;
        border-radius:20px;
        width:min-content;
        text-align:center;
        font-size:0.8rem;
        padding:5px 10px;
        margin: 10px 0;

    }

    .tag:hover{
        background-color: #0000B6;
    }
</style>