---
const {tags} = Astro.props;

interface Props{
    tags:String[];
}
---



<div class = "tags">
    {tags.map(tag => (
        <div class = "tag">{tag} </div>
    ))}
</div>
  

<style>
  
    .tags{
        display: flex;
        gap:1em;
    }
    
    .tag{
        padding:10px;
        background-color: blue;
        color:white;
        font-weight:bold;
        border-radius:20px;
        width:20%;
        text-align:center;
        font-size:12px;
    }
</style>